<div class="task-group-card">

  <div class="task-group-header">
    <div class="group-title"><mat-icon>{{ taskGroup.icon }}</mat-icon><span>{{ taskGroup?.groupName }}</span></div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon>more_vert</mat-icon>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item>Delete All</button>
      <button mat-menu-item>Close</button>
    </mat-menu>
  </div>

  <div class="task-group-content">
    <ng-container *ngFor="let task of taskGroup.tasks">
      <app-task-card [task]="task"></app-task-card>
    </ng-container>
  </div>

  <div class="task-group-footer">
    <button mat-icon-button (click)="showTaskDialog(taskGroup.id)">
      <mat-icon>add</mat-icon>
    </button>
  </div>

</div>
